<!--Footer-->
<footer id="footer">
	<div class="footer-main">
		<div class="grid-container">
			<div class="footer-main-top grid-x grid-margin-x">
				<div class="cell medium-4 sma-12">
					<img src="img/logo-two-lions-grey-horizontal@2x.svg" class="logo logo-medium" alt="Two Lions Contractors, Inc." />
				</div>
				<div class="cell medium-4 small-6 text-right">
					<h5><a href="projects.html"><i class="fal fa-layer-group fa-lg color-secondary"></i> Our Work <i class="fal fa-chevron-double-right fa-xs"></i></a></h5>
				</div>
				<div class="cell medium-4 small-6 text-right">
					<h5><a href="services.html"><i class="fal fa-hammer fa-lg color-secondary"></i> Our Services <i class="fal fa-chevron-double-right fa-xs"></i></a></h5>
				</div>
			</div>
			
			<!--End Footer Main Top-->
			
			
			<div class="footer-main-bottom grid-x grid-margin-x">	
				<div class="cell medium-4 small-order-3 medium-order-1">
					<h6>About Us</h6>
					<p>{{ site.about }}</p>
					<h6>Our Expertise</h6>
					<ul class="menu vertical">
						<li>Decks &amp; Exterior</li>
						<li>Additions</li>
						<li>Kitchens &amp; Baths</li>
						<li>Windows &amp; Doors</li>
						<li>Basement Living &amp; Rec Rooms</li>
					</ul>
				</div>
				<div class="cell medium-4 small-order-2 medium-order-2">
					<h6>Contact Us</h6>
					<p>11067 N Oriole Ln.<br />
						Mequon, WI<br />
					</p>
					<p>
						<i class="fal fa-phone"></i> <span class="tel">{{ site.phone }}</span><br />
						<i class="fal fa-envelope"></i> <a href="mailto:2lionscontractors@gmail.com">{{ site.email }}</a>
					</p>
				</div>
				<div class="cell medium-4 small-order-1 medium-order-3">
					<h6>Get a free quote</h6>
					<form>
						<input type="text" placeholder="First and last name">
						<input type="text" placeholder="Phone number">
						<input type="text" placeholder="Email address">
						<p><textarea placeholder="Please explain your project in detail"></textarea></p>
						<p><button class="button secondary hollow">Send</button></p>
					</form>
				</div>
			</div>
		</div>
		<!--End Footer Main Middle-->
	</div>
	<!--End Footer Main-->
	
	
	<div class="footer-bottom">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell medium-12">
					&copy; 2019 Two Lions Contactors, Inc. The Kings of home remodeling in southeastern Wisconsin
					<p class="small">Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
				</div>
			</div>
		</div>
	</div>
	
	<!--End Footer Bottom-->
	
</footer>