<header id="header">
	<!--Pre Header-->
	<div class="pre-header">
		<div class="grid-container">
			<div class="grid-x">
				<div class="cell medium-12">
					<img src="img/usa-flag.svg" alt="American flag veteran owned and operated" /> Proud to be Veteran Owned and Operated
				</div>
			</div>
		</div>
	</div>
	<!--End Pre Header-->
	
	<!--Header Main-->
	<div class="header-main grid-container">
		<div class="grid-x grid-margin-x">
			<div class="brand-logo cell medium-4">
				<div class="logo">
					<a href="index.html">
						<img src="img/logo-shield@2x.svg" class="logo-medium" alt="Two Lions Contractors, Inc. The kings of home improvement in Southeast Wisconsin" />
						<h1><span class="caps">T</span>wo <span class="caps">L</span>ions</h1>
						<h2>Contractors, Inc.</h2>
						<h3>The Kings of Home Improvement</h3>
					</a>
				</div>
				<button class="mobile-menu-button button float-right show-for-small-only"><i class="fa fa-bars"></i></button>
			</div>
			<div class="header-right cell auto">
				<div class="grid-x grid-margin-x">
					<div class="cell medium-6 small-7">
						<div class="header-right-content">
							<i class="fal fa-envelope"></i>
							<p>Need an estimate?
							<a href="#">Get a free quote</a></p>
						</div>
					</div>
					<div class="cell medium-6 small-5">
						<div class="header-right-content">
							<i class="fal fa-phone"></i>
							<p>Call us now
							<span class="tel">414.467.2313</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End Header Main-->
</header>
<!--End Header-->