{% include html-header.html %}

{% include header.html %}

{% include main-menu.html %}


<!--Slides-->
<div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
    <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
    <li class="is-active orbit-slide">
      <div class="docs-example-orbit-slide">
        <img src="img/work/kitchen-splash.jpg" alt="Kitchen design Wisconsin" />
      </div>
    </li>
    <li class="orbit-slide">
      <div class="docs-example-orbit-slide">
        <img src="img/work/bathroom-splash.jpg" alt="Kitchen design Wisconsin" />
      </div>
    </li>
    <li class="orbit-slide">
      <div class="docs-example-orbit-slide">
        <img src="img/work/family-room-splash.jpg" alt="Kitchen design Wisconsin" />
      </div>
    </li>
    <li class="orbit-slide">
      <div class="docs-example-orbit-slide">
        <img src="img/work/patio-splash.jpg" alt="Kitchen design Wisconsin" />
      </div>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>
<!--End Slides-->


<!--Main Content-->
<div class="main-content">
	<div class="grid-container">
		<h5 class="center">We Can Help Capture Your Vision with our Expertise</h5>
		<div class="grid-x grid-margin-x">
			<div class="cell medium-3 small-6 content-block-bordered">
				<p class="shield-icon"><img src="img/icons/bathtub.svg" alt="Kitchens Shield" /></p>
				<h6>Kitchens & Baths</h6>
				<ul>
					<li>Cabinetry</li>
					<li>Countertops</li>
					<li>Faucets &amp; Sinks</li>
					<li>Flooring</li>
				</ul>
			</div>
			<div class="cell medium-3 small-6 content-block-bordered">
				<p class="shield-icon"><img src="img/icons/countertop.svg" alt="Kitchens Shield" /></p>
				<h6>Basements</h6>
				<ul>
					<li>Custom Design</li>
					<li>Lighting &amp; Electrical</li>
					<li>Plumbing</li>
					<li>Build</li>
				</ul>
			</div>
			<div class="cell medium-3 small-6 content-block-bordered">
				<p class="shield-icon"><img src="img/icons/tatami.svg" alt="Kitchens Shield" /></p>
				<h6>Decks &amp; Patios</h6>
				<ul>
					<li>Outdoor Living Spaces</li>
					<li>Seating</li>
					<li>Balconies</li>
					<li>Steps &amp; Railings</li>
				</ul>
			</div>
			<div class="cell medium-3 small-6">
				<p class="shield-icon"><img src="img/icons/brickwall.svg" alt="Kitchens Shield" /></p>
				<h6>Building</h6>
				<ul>
					<li>Additions</li>
					<li>Restorations</li>
					<li>Siding</li>
					<li>Windows &amp; Doors</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="content-block background-light">
	<div class="grid-container">
		<h5 class="center">Our Projects</h5>
		<div class="grid-x grid-margin-x">
			
			<!--Project 1-->
			<div class="cell medium-4">
				<img src="img/work/bathrooms/bathroom-1.jpg" alt="Bathroom remodel and plumbing Wisconsin home" />
				<h5>Project Title</h5>
				<p>Project story and description. <br /><a href="#">Read More <i class="far fa-chevron-double-right fa-sm"></i></a></p>
			</div>
			<!--End Project 1-->
			
			<!--Project 2-->
			<div class="cell medium-4">
				<img src="img/work/decks/deck-1.jpg" alt="Bathroom remodel and plumbing Wisconsin home" />
				<h5>Project Title</h5>
				<p>Project story and description. <br /><a href="#">Read More <i class="far fa-chevron-double-right fa-sm"></i></a></p>
			</div>
			<!--End Project 2-->
			
			<!--Project 3-->
			<div class="cell medium-4">
				<img src="img/work/stairs/stairs-1.jpg" alt="Bathroom remodel and plumbing Wisconsin home" />
				<h5>Project Title</h5>
				<p>Project story and description. <br /><a href="#">Read More <i class="far fa-chevron-double-right fa-sm"></i></a></p>
			</div>
			<!--End Project 3-->

		</div>
	</div>
</div>
<!--End Main Content-->

{% include footer.html %}

{% include html-footer.html %}
